@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    font-family: "Inter", system-ui;
}

nav{
    background: url('wood.PNG');
    background-size: cover;
    height: 10vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#profile-img{
    position:absolute;
    left:0;
    width: 200px;
    height: auto;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
    font-size: 20px;
}

nav a:hover{
    background-color: rgba(94, 45, 0, 0.293);
    padding: 8px;
    border-radius: 24px;
}

main{
    min-height: 90vh;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-acc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F8FFA1;
    width: 30%;
    padding: 48px 32px;
    border-radius: 24px;
}

#main-bg{
    background: url("green.PNG");
    background-size: cover;
}

#main-bg2{
    background: url("home.png");
    background-size: cover;
}

#main-bg2 img{
    width: 0;
}

#play-main{
    background: url("play.png");
    background-size: cover;
}

#play-main img{
    width: 0;
}

#about-main{
    display:flex;
    flex-direction: row;
    padding-left: 128px;
    padding-right: 128px;
    gap: 48px;
    background: url("green.PNG");
    background-size: cover;
}

#about-main img{
    border-radius: 24px;
}

#about-text{
    width: 50%;
    color: white;
}

@media (max-width: 1024px) {
    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 24px;
    }
    #profile-img{
        position:relative;
    }
    #main-bg2{
        background: url('green.PNG');
        background-size: cover;
        min-height: 70vh;
    }
    #main-bg2 img{
        width: 100%;
    }
    
    #play-main{
        background: url('green.PNG');
        background-size: cover;
        min-height: 70vh;
    }
    #play-main img{
        width: 100%;
    }
    #create-acc{
        width: 80%;
        padding: 48px 32px;
        border-radius: 24px;
    }
    #about-main{
        flex-direction: column;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 48px;
    }
    #about-text{
        width: 100%;
    }
    #about-main img{
        width: 100%;
    }
    nav a:hover{
        padding: 0px;
    }
}